body{
 font-family:Arial;
 background-position-x: 20vh;

 

 }
 table{
 background-color: #fff3a4;
 border-collapse: collapse;
 }
 td{
 border:1px solid black;
 padding: 5px;
 }
 th{
 border:1px solid black;
 padding: 5px;
 text-align: left;
 }